* {
  margin: 0;

  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

:root {
--delay: 0s;
}

* {
outline: none;
box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: #03051f;
  color: #9b9ca7;
  cursor: default;
}

.wrapper {
max-width: 1600px;
background-color: #0e0e23;
display: flex;
height: 100vh;
overflow: hidden;
margin: 0 auto;
}

.left-side {
display: flex;
flex-direction: column;
flex-shrink: 0;
align-items: center;
padding: 100px 0 30px;
-webkit-animation: left 1s var(--delay) both;
        animation: left 1s var(--delay) both;
}
.left-side svg {
cursor: pointer;
margin-left:6px;
}
.left-side svg + svg {
margin-top: 34px;
}
.left-side a:last-child {
margin-top: auto;
}
.left-side svg.active, .left-side svg:hover {
color: #4255d4;
}

@-webkit-keyframes left {
0% {
  transform: translateX(-30px);
  opacity: 0;
}
100% {
  opacity: 1;
  transform: none;
}
}

@keyframes left {
0% {
  transform: translateX(-30px);
  opacity: 0;
}
100% {
  opacity: 1;
  transform: none;
}
}
@-webkit-keyframes top {
0% {
  transform: translateY(-30px);
  opacity: 0;
}
100% {
  opacity: 1;
  transform: none;
}
}
@keyframes top {
0% {
  opacity: 0;
}
100% {
  opacity: 1;
  transform: none;
}
}
.main-container {
display: flex;
flex-direction: column;
flex-grow: 1;
padding: 25px;
overflow: auto;
padding-left: 0;
}
.textType {
  color: #9b9ca7;
  background: #1a1b3c;
  border: none;
  padding: 10px 15px;
}
.textType:hover{
  cursor: pointer;
  animation-name: fadeItIn;

}
.searchbutton{
  color: #9b9ca7;
  background: #1a1b3c;
  border: none;
  padding: 12px 18px;
  border-radius: 4px;
  margin-right: 20px;
  }
  .searchbutton:hover{
    background-color: rgb(28,36,68);
    cursor: pointer;
  }

.button {
display: flex;
align-items: center;
color: #9b9ca7;
background: #1a1b3c;
border: none;
padding: 2px 12px;
border-radius: 4px;
margin-right: 20px;
}
.button svg {
margin-left: 10px;
width: 16px;
}
.user-box {
margin-top: 25px;
display: flex;
}

.user-box + .user-box {
margin-top: 20px;
}
.user-box + .user-box .cards-wrapper {
margin-left: 0;
flex-grow: 1;
max-width: none;
}
.user-box + .user-box .today {
margin-left: 30px;
}
.user-box + .user-box .cards-header {
padding: 20px 30px;
justify-content: space-between;
}
.user-box .cards-header,
.user-box .cards-view {
display: flex;
align-items: center;
justify-content: center;
}
.user-box .cards-header svg,
.user-box .cards-view svg {
width: 24px;
}
.user-box .cards-header .title,
.user-box .cards-view .title {
margin: 0 16px;
font-size: 15px;
}
.user-box .cards-header-date svg,
.user-box .cards-view-date svg {
width: 30px;
}
.user-box .cards-header .cards-button,
.user-box .cards-view .cards-button {
padding: 10px 16px;
margin-right: 0;
}
.cards-button:hover {
background-color: rgb(28,36,68);
cursor: pointer;
}
.user-box .cards-header .cards-button svg,
.user-box .cards-view .cards-button svg {
width: 16px;
margin: 0 2px 0 0;
}
.user-box .cards-header .date-wrapper,
.user-box .cards-view .date-wrapper {
display: flex;
align-items: center;
margin: auto;
}
.user-box .cards-header .date-wrapper .title,
.user-box .cards-view .date-wrapper .title {
margin: 0 16px;
}

.card {
background: radial-gradient(circle, #1a2049 0%, #13162f 100%);
padding: 40px 30px;
border-radius: 6px;
display: flex;
flex-direction: column;
flex-grow: 1;
max-height: 430px;
width: 100%;

}
.card .title {
font-size: 16px;
font-weight: 500;
}
.card .subtitle {
font-size: 13px;
line-height: 1.6em;
}
.card + .card {
margin-left: 20px;
}
.textbox{
  width: 500px;
  height: 300px;
  padding: 20px;
  resize: none;
  overflow: scroll;

}
    .table {
      text-align: left;
      padding: 0;
      padding-left: 10px;
    }
    .table th {
      font-size: 14px;
      font-weight: normal;
      padding-bottom: 30px;
    }
    
    
    .table input {
      -webkit-appearance: none;
         -moz-appearance: none;
              appearance: none;
      width: 16px;
      height: 16px;
      border: 1px solid #9b9ca7;
      vertical-align: middle;
      background-color: transparent;
      border-radius: 4px;
      margin-right: 16px;
      transition: 0.25s;
      background-size: 0;
      background-position: center;
    }
    .table input:checked {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24' stroke='%23fff' stroke-width='2' fill='none' stroke-linecap='round' stroke-linejoin='round' class='css-i6dzq1'%3E%3Cpolyline points='20 6 9 17 4 12'%3E%3C/polyline%3E%3C/svg%3E");
      background-color: #252954;
      background-size: 12px;
      background-repeat: no-repeat;
    }
    .cards-header {
      background: #10122b;
      border-radius: 6px 6px 0 0;
      padding: 20px 45px;
      font-size: 14px;
      font-weight: 500;
    }
    .list:hover {
      animation-name: fadeItIn;
      animation-duration: 1s;
      animation-delay: 0s;
      animation-fill-mode: forwards;
    }
    .table svg{
      cursor: pointer;
      
    }
    .table svg:hover{
      cursor: pointer;
    }
    /* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

  @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-moz-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-webkit-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-o-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-ms-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  @keyframes fadeItIn {
    0% {
      background: rgb(28,36,68);
    }
    100% {
      background: #1a1b3c;
    }
  }
  @media (max-width: 375px) {
  
    /* headers */
    .left-side {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      align-items: center;
      padding-left: 5px;
      padding-right: 5px;
      padding-top: 100px;
      padding-bottom: 10px;
          -webkit-animation: left 1s var(--delay) both;
              animation: left 1s var(--delay) both;
    }
    .left-side .header-link {
      padding: 10px;
      border-bottom: 10px solid transparent;
    }
    .header{
      font-size:0px; 
    }
    .header .header-link {
      padding: 10px;
    }
    .header .header-link svg{
      align-items: center !important;
    }
      /* end headers */
      .wrapper{
        max-width: 375%;
      }
      .audioInput{
        margin-bottom: 100px;
      }

    }
  

  .user-box > * {
    -webkit-animation: top 1s var(--delay) both;
            animation: top 1s var(--delay) both;
  }