* {
    margin: 0;
  
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  a:link {
    text-decoration: none;
  }
  :root {
    --delay: 0s;
    --body-background-color: #0b5793;
    --wrapper-background-color: #ececec;
    --card-color: #ffffff;
    --header-color: #0b5793;
    --header-text: #ffffff;
    --headerlinkhover:#21659c;
    --svg-logo-color: #ffffff;
    --leftsvg-logo: #0b5793;
    --leftsvg-logohover: #ffffff;
    --title-text: #234b6b;
    --button: #21659c;
    --button-text:  #ffffff;
    --inputBackground: #ffffff;
    --inputTextColor: #1a1b3c;
  
  
    }
    .darkmode{
    --body-background-color: #03051f;
    --wrapper-background-color: #0e0e23;
    --card-color: radial-gradient(circle, #1a2049 0%, #13162f 100%);
    --header-color: radial-gradient(circle, #141834 0%, #13162f 100%);
    --headerlinkhover: #abb5ff;
    --svg-logo-color: rgba(155,156,167,255);
    --leftsvg-logo: #9898a0;
    --leftsvg-logohover: #0b5793;
    --title-text: #9b9ca7;
    --button: #141530;
    --button-text:  #ffffff;
    --inputBackground:#1a1b3c;
    --inputTextColor: #9b9ca7;
    }
  * {
    outline: none;
    box-sizing: border-box;
  }
  
  body {
      margin: 0;
      font-family: "Poppins", sans-serif;
      font-weight: 400;
      font-style: normal;
      background-color: var(--body-background-color);
      color: #9b9ca7;
      cursor: default;
  }
  
  .wrapper {
    max-width: 1600px;
    background-color: var(--wrapper-background-color);
    display: flex;
    height: 100vh;
    overflow: hidden;
    margin: 0 auto;
  }
  
  .left-side {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  align-items: center;
  padding: 100px 0 30px;
  -webkit-animation: left 1s var(--delay) both;
          animation: left 1s var(--delay) both;
  }
  .left-side svg {
  cursor: pointer;
  margin-left:6px;
  }
  .left-side svg + svg {
  margin-top: 34px;
  }
  .left-side a:last-child {
  margin-top: auto;
  }
  .left-side svg.active, .left-side svg:hover {
  color: #4255d4;
  }
  
  @-webkit-keyframes left {
  0% {
    transform: translateX(-30px);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: none;
  }
  }
  
  @keyframes left {
  0% {
    transform: translateX(-30px);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: none;
  }
  }
  @-webkit-keyframes top {
  0% {
    transform: translateY(-30px);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: none;
  }
  }
  @keyframes top {
  0% {
    transform: translateY(-30px);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: none;
  }
  }
  .main-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 25px;
  overflow: auto;
  padding-left: 0;
  }
  
  .searchbutton{
    color: var(--button-text);
    background: var(--button);
  border: none;
  padding: 12px 18px;
  border-radius: 4px;
  margin-right: 20px;
  }
  .searchbutton:hover{
    background-color: rgb(28,36,68);
    cursor: pointer;
  }
  
  .newViolation, .violationType {
  white-space: nowrap;
  display: flex;
  align-items: end;
  color: var(--inputTextColor);
  background: var(--inputBackground);
  border: none;
  padding: 12px 18px;
  border-radius: 4px;
  margin-right: 20px;
  }
  .violation-form {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Adjust spacing between elements */
    align-items: flex-start; /* Align items to the left */
  }
  
  .newViolation, .violationType, .cards-button {
    width: 100%; /* Make the inputs and button stretch the container width */
    max-width: 300px; /* Optional: Set a max-width for better layout control */
  }
  
  .button {
    white-space: nowrap;
    display: flex;
    align-items: end;
    color: #9b9ca7;
    color: var(--button-text);
    background: var(--button);
    border: none;
    padding: 12px 18px;
    border-radius: 4px;
    margin-right: 20px;
    }
  .button svg {
  margin-left: 10px;
  width: 16px;
  }
  .user-box {
  margin-top: 25px;
  display: flex;
  }
  
  .user-box + .user-box {
  margin-top: 20px;
  }
  .user-box + .user-box .cards-wrapper {
  margin-left: 0;
  flex-grow: 1;
  max-width: none;
  }
  .user-box + .user-box .today {
  margin-left: 30px;
  }
  .user-box + .user-box .cards-header {
  padding: 20px 30px;
  justify-content: space-between;
  }
  .user-box .cards-header,
  .user-box .cards-view {
  display: flex;
  align-items: left;
  justify-content: left;
  }
  .user-box .cards-header svg,
  .user-box .cards-view svg {
  width: 24px;
  }
  .user-box .cards-header .title,
  .user-box .cards-view .title {
  margin: 0 16px;
  font-size: 15px;
  }
  .user-box .cards-header-date svg,
  .user-box .cards-view-date svg {
  width: 30px;
  }
  .user-box .cards-header .cards-button,
  .user-box .cards-view .cards-button {
  padding: 10px 16px;
  margin-right: 0;
  }
  
  .cards-button:hover {
    background-color: rgb(28,36,68);
    cursor: pointer;
  }
  .user-box .cards-header .cards-button svg,
  .user-box .cards-view .cards-button svg {
    width: 16px;
    margin: 0 2px 0 0;
  }
  .user-box .cards-header .date-wrapper,
  .user-box .cards-view .date-wrapper {
    display: flex;
    align-items: end;
    margin: auto;
  }
  .user-box .cards-header .date-wrapper .title,
  .user-box .cards-view .date-wrapper .title {
    margin: 0 16px;
  }
  
  .card {
    background: var(--card-color);
    padding: 40px 30px;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    max-height: 100%;
    max-width: 100%;
    width: 100%;
    overflow-y: scroll; 
    overflow-x: scroll;   
  }
  .card .title {
    font-size: 16px;
    font-weight: 500;
  }
  .card .subtitle {
    font-size: 13px;
    line-height: 1.6em;
  }
  .card + .card {
    margin-left: 20px;
  }
  
  @-webkit-keyframes turn {
    100% {
      transform: rotate(1turn);
    }
  }
  
  @keyframes turn {
    100% {
      transform: rotate(1turn);
    }
  }
  
  th + th {
    margin: 5px 0px;
  }
  .table td { 
    font-size: 15px;
    vertical-align: middle;
    padding: 20px 0;
  }
  table {
    overflow-y: scroll; 
    white-space: nowrap;
    border-collapse: collapse;
    text-align: left;
    padding-left: 10px;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
  }
  
  table caption {
    font-size: 1.5em;
    margin: .5em 0 .75em;
  }
  
  table tr {
    padding: .35em;
  }
  
  table th,
  table td {
    padding: .625em;
    text-align: center;
  }
  
  table th {
    font-weight: bold;
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase;
  }
  
  .TableTitle{
    font-size:15px;
  }
  
  .cards-header {
    background: var(--header-color);
    color: var(--header-text);
    border-radius: 6px 6px 0 0;
    padding: 20px 45px;
    font-size: 14px;
    font-weight: 500;
    align-items:flex-start;
  }
  .list:hover {
    cursor: pointer;
    animation-name: fadeItIn;
    animation-duration: 1s;
    animation-delay: 0s;
    animation-fill-mode: forwards;
  }
  
  .textType {
    color: var(--inputTextColor);
    background: var(--inputBackground);
    border: none;
    padding: 10px 15px;
  }

 .select {
    color: var(--inputTextColor);
    background: var(--inputBackground);
    border: none;
    width: 200px;
    padding: 10px 15px;
  }
  .dateType {
    color: #9b9ca7;
    background: #1a1b3c;
    border: none;
    padding: 10px 15px;
  }
  .dateType:hover{
    animation-name: fadeItIn;
    animation-duration: 1s;
    animation-delay: 0s;
    animation-fill-mode: forwards;
  }
  .textType:hover{
    cursor: pointer;
    animation-name: fadeItIn;
    animation-duration: 1s;
    animation-delay: 0s;
    animation-fill-mode: forwards;
  }
  
  .adminTH {
    width: 250px;
  }
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
    height: 20%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  .modalBtn{
    background-color: #4255d4;
    color: #e7e8ea;
    padding: 10px 15px;
    width: 100%;
    border: none;
  }
  .auditTrail{
    height: 500px;
    margin-bottom: 200px;
  }

/* Styling for the snackbars */
#snackbar {
  visibility: hidden; /* Hidden by default */
  min-width: 250px;
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 16px;
  position: fixed;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 4px;
  font-size: 17px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  opacity: 0; /* Initially transparent */
  transition: opacity 0.5s ease, visibility 0s 0.5s;
}

/* Show the snackbar */
#snackbar.show {
  visibility: visible; /* Show snackbar */
  opacity: 1; /* Fully opaque */
  transition: opacity 0.5s ease;
}
.formModal {
  display: flex;
  flex-direction: column;
  gap: 10px; /* Space between form rows */
}

.formModal-row {
  display: flex;
  gap: 10px; /* Space between columns */
}

.formModal-group {
  display: flex;
  flex-direction: column; /* Label and input arranged vertically */
  flex: 3; /* Make each group take equal space */
}
.form1, .form2 {
  display: flex;
  flex-direction: row;
  gap: 5px; /* Space between form rows */
}
.form1-row, .form2-row {
  display: flex;
  gap: 5px; /* Space between columns */
}

.form1-group, .form2-group {
  display: flex;
  flex-direction: row; /* Label and input arranged vertically */
  flex: 1; /* Make each group take equal space */
}
.buttonSection{
  display: flex;
  flex-direction: row;
}
  
  @keyframes fadeItIn {
    0% {
      background: rgb(28,36,68);
    }
    100% {
      background: #1a1b3c;
    }
  }
  @-webkit-keyframes fly {
    40% {
      transform: translate(-6px, -6px);
    }
    60% {
      transform: translate(-12px, -2px);
    }
    100% {
      transform: translate(0px, 0px);
    }
  }
  
  @keyframes fly {
    40% {
      transform: translate(-6px, -6px);
    }
    60% {
      transform: translate(-12px, -2px);
    }
    100% {
      transform: translate(0px, 0px);
    }
  }
  
@media screen and (max-width: 2560px) {
  .modal-content {
    margin: 5% auto; /* 15% from the top and centered */
    padding: 40px;
    width: 40%;
    height: 50%; /* Could be more or less, depending on screen size */
  }
}
@media screen and (max-width: 1440px){
  .modal-content {
    margin: 10% auto; /* 15% from the top and centered */
    padding: 40px;
    width: 40%;
    height: 50%; /* Could be more or less, depending on screen size */
  }
}
@media screen and (max-width: 1129px) {
 .form2{
   display: flex;
   flex-direction: column;
   gap: 10px; /* Space between form rows */
 }
 .form2-row {
   display: flex;
   gap: 10px; /* Space between columns */
 }

 .form2-group {
  width: 500px;
   display: flex;
   flex-direction: column; /* Label and input arranged vertically */
   flex: 3; /* Make each group take equal space */
 }

 }
 @media screen and (max-width: 1024px) {
  .modal-content {
    margin: 15% auto; /* 15% from the top and centered */
    padding: 40px;
    width: 55%;
    height: 50%; /* Could be more or less, depending on screen size */
  }
  .cards-wrapper {
    height: 500px;
  }
  .form2-group {
    width: 450px;
  }

}

@media screen and (max-width: 772px) {
  .modal-content {
    margin:20% auto; /* 15% from the top and centered */
    padding: 40px;
    width: 60%;
    height: 60%; /* Could be more or less, depending on screen size */
  }
 .form1{
   display: flex;
   flex-direction: column;
   gap: 10px; /* Space between form rows */
 }
 
 .form1-row {
   display: flex;
   gap: 10px; /* Space between columns */
 }

 .form1-group {
  width: 320px;
   display: flex;
   flex-direction: column; /* Label and input arranged vertically */
   flex: 3; /* Make each group take equal space */
 }
 .form2-group {
  width: 330px;
}
 .select {
  width: 650px;
 }
 
 table {
  border: 0;
}

table caption {
  font-size: 1.3em;
}

table thead {
  border: none;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow-y: scroll;
  padding: 0;
  position: absolute;
  width: 1px;
}

table tr {
  border: 1px solid #ddd;
  border-bottom: 3px solid #2d34ee;
  display: block;
  margin-bottom: .625em;
}

table td {
  border-bottom: 1px solid #ddd;
  display: block;
  font-size: .8em;
  text-align: left;
}

table td::before {

  content: attr(data-label);
  float: left;
  font-weight: bold;
  text-transform: uppercase;
}

table td:last-child {
  border-bottom: 0;
}

 }
 @media screen and (max-width: 650px) {
  .form1-group {
    width: 265px;
  }
  .select, .searchbutton{
    width: auto;
  }
  .form2-group {
    width: 264px;
  }
 }
 @media screen and (max-width: 530px) {
  .form1-group {
    width: 205px;
  }
  .select, .searchbutton{
    width: auto;
  }
  .form2-group {
    width: 210px;
  }
  .button {
    align-items: center;
    color: #9b9ca7;
    padding: 12px 18px;
    border-radius: 4px;
    margin-right: 5px;
    font-size: 10px;
    }
  .buttonSection{
      flex-direction: column;
      gap: 10px;
      width: 100%; 
    }
 }
 @media screen and (max-width: 460px) {
  .form1-group {
    width: 180px;
  }
  .form2-group {
    width: 180px;
  }
 }
@media screen and (max-width: 425px) {
  .modal-content {
    margin: 25% auto; /* 15% from the top and centered */
    padding: 40px;
    width: 80%;
    height: 50%; /* Could be more or less, depending on screen size */
  }
  .cards-wrapper {
    height: 300px;
  }
  .form1-group {
    width: 160px;
  }
  .form2-group {
    width: 160px;
  }
  .select{
    width: 330px;
  }
  
}
  .user-box > * {
    -webkit-animation: top 1s var(--delay) both;
            animation: top 1s var(--delay) both;
  }